<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Package Status</title>
</head>

<body>
    <h1>
        Pckage Status
    </h1>
    <ul>
        {% for package in packages %}
        <li>
            <div>
                <h3>Package id</h3>
                <span>{{package.id}}</span>
                <h3>Sender name</h3>
                <strong>{{package.sender}}</strong>
                <h3>recipient name</h3>
                <strong>{{package.recipient}}</strong>
                <h3>From:</h3>
                <p>{{package.origin}}</p>
                <h3>To:</h3>
                <p>{{package.destination}}</p>
                <h3>Package location:</h3>
                <p>{{package.location}}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

</body>

</html>
